.App{
  padding: 100px;
}

.header{
  padding: 20px;
}

.header button{
  margin-left: 50px;
  height: 40px;
  padding: 10px;
  font-size: large;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
}

.header button:hover{
  color: blue;
  border-color: rgb(36, 209, 209);
}

i{
  color: red;
}